<!DOCTYPE html>
<html>
<head>
<title>BAD WEBPAGE EXAMPLE AND WHAT NOT TO DO</title>
</head>
<body style="background-color:white;">


<h2>H2 even though its before h1</h2>
<h1>We got the h1 below the h2,</h1>


<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Paolo_Veronese_008.jpg/1280px-Paolo_Veronese_008.png" width="400" height="400" alt='A very large painting that was painted probbably during the renasaisance period'>
<h3>Look familiar?</h3>


<p style="font-family: Papyrus; color:black;">This text is in Papyrus.</p>
<p style="font-family: 'Comic Sans MS'; color:black;">This text is in Comic Sans.</p>
<p style="font-family: Times; color:black;">This text is in Times. Wonder why this wasnt a skeleton in a certain game</p>


<p style="text-align:center; font-size:40px; margin:50px;">This paragraph is centered and HUGE.</p>
<ul style="text-align:center; list-style-position:inside;">
  <li>Bullet one</li>
  <li>Bullet two I'm now out of ammo</li>
</ul>


<p style="color:gray; background-color:lightgray;">
This is really hard to read on purpose.
</p>


<p><u>This is a link. click me</u></p>


<p style="background-color:yellow;">black and yellow black and yellow.</p>

<p>Here is my image again: .. you like? Here is the <a href="https://en.wikipedia.org/wiki/The_Wedding_at_Cana_(Veronese)">link </a>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Paolo_Veronese_008.jpg/1280px-Paolo_Veronese_008.jpg" width="100" height="100">
</p>

<br><br><br><br>

<p style="margin-left:10px;">This one has a small margin.</p>
<p style="margin:100px;">This one has a big margin.</p>



<div style="border-top:10px dotted red;
            border-right:20px double green;
            border-bottom:15px dashed blue;
            border-left:30px solid purple;
            padding:20px;">
   I call this border, the carnival border
</div>



<p style="color:black; font-family:Papyrus;">Papyrus again with inline styling.</p>
<p style="color:black; font-family:Papyrus;">Papyrus AGAIN with inline styling.</p>

<br><br><br><br>

</body>
</html>

