<nav>
			<a href="https://github.com/EvanMBarber/EvanMBarber.github.io">Github</a> || 
			
			<a href="https://www.linkedin.com/in/evanmbarber/">Linkedin</a> ||
			
			<a href="https://evanmbarber.github.io/">Github.io</a> ||

			<a href="https://webpages.charlotte.edu/ebarber8/">School Website</a> ||

			<a href="index.html">Course Homepage</a> ||

            <a href="enragedbarracuda/about.html">EnragedBarracuda</a> ||

			<a href="../itsc1110/components/stuff/QRGSERGV!!!.html">Crappy Page</a> ||

			<a href="../itis3135/hobby/index.html">Hobby</a> 



		<p><a href="barberenterprise.com/index.html"><br> BarberEnterprise</a> ©2025</p>
		</nav>