body{
		    background: linear-gradient(to top, rgb(49, 50, 53) 2vh,rgb(13, 14, 15) 60vh);
			min-height:100vh;
			height: 100%;
			font-family: Arial, Cochin, Georgia, Times, 'Times New Roman', serif;
			color: rgb(255, 255, 255);
			width: 100%;
			margin: auto 0;
            text-align: center;
            background-attachment: fixed;
		}

a:hover{

    color:rgb(115, 246, 255)
}

a:visited{
    color:rgb(0, 100, 249)
}

a{
    color:white;
}

.about-me{
    display:flex;
    justify-content: center;
}

.about-me ul{
    text-align: left;
    display: inline-block;
    max-width: 70vh;
}

.my-portrait{
    width: 60vw;
    max-width: 400px;
}

footer{
      text-align: center;
      line-height: 50px;
}

.contract{
    text-align: left;
    display: inline-block;
    max-width: 70vh;
}

.bullet-points{
    text-align: left;
    display: inline-block;
    max-width: 70vh;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.container{
    align-items: center;
    background-color: rgb(87, 87, 87);
    margin: 20px auto;
    padding: 10px;
    border: 5px solid rgb(151, 151, 151);
    border-radius: 10px;
}
.container{
    
    width: 50%;

}
.checkmark{
    justify-content: flex-end;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  th {
    border: 1px solid #333;
    padding: 10px;
    vertical-align: top;
    align-items: left;
  }

  td {
    border: 1px solid #333;
    padding: 10px;
    vertical-align: center;
  }
  th {
    text-align: left;
  }
 td ul {
    margin: 0;
    padding-left: 0;
    list-style-position: inside;
    text-align: left;
  }
  
  fieldset{
     display: flex;
     flex-direction: column;
     max-width: 900px;
     min-width: 200px;
     margin: 0 auto;
  }
  button{
    margin: 6px auto;
   
  }
  input{
    height: 30px;
    border-radius: 5px;
  }

  textarea{
    border-radius: 5px;
  }
  .course-entries{
    display:flex;
    flex-direction: column;
  }



@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {

        body {

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;


        }

    }


@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
        body{

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

        }
    
    }


@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
        body{

        width: 95%;

        margin: 0 auto;

        max-width: 1200px;

        }
        

    }
